@{
    ViewData["Title"] = "About Us Page";
}
<!-- Student Name: Briana Taylor
ID Number: 2100212
Module: Enterprise Computing 2 Semester 2 AY 2024/25
Activity: Milestone 1 -->

<h1>About Us</h1>
<br/>

<p>
    At The Luxe Archive, we specialize in reselling designer bags, offering a carefully curated selection of authenticated luxury 
    pieces from the world’s most prestigious brands. Our journey began with a passion for timeless fashion and sustainable luxury, 
    driven by the desire to give iconic handbags a second life while making high-end fashion more accessible. What started as a small
    collection of rare finds has grown into a trusted destination for fashion enthusiasts who value elegance, quality, and authenticity.
    Every piece in our archive tells a story—one of craftsmanship, heritage, and enduring style. Whether you're searching for a rare collector’s
    item or a modern classic, we are dedicated to bringing you the very best in pre-loved luxury.
</p>
