@model BagViewModel

@{
    ViewData["Title"] = "Delete Bag";
}

<h1>Bag Delete</h1>

<div>
    <hr />

    <div class="card mb-3" style="max-width: 760px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/@Model.Image" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title text-center">@Model.Brand</h2>
                    <p class="card-text fst-italic text-center">@Model.Model</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="fw-bold">ManufactureDate: </span> @Html.DisplayFor(model => model.ManufactureDate)</li>
                        <li class="list-group-item"><span class="fw-bold">Price: </span>@Model.Price.ToString("c2")</li>
                    </ul>
                    <form asp-action="Delete">
                        <div class="form-group mt-3">
                            <div class="d-grid">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" />
                                <a class="btn btn-primary" asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




