@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At The Bank of Nova Scotia (ScotiaBank), we continuously strive to enhance the privacy of your information using state-of-the-art,
    security protocols. Our systems use advanced data encryption techniques, including theoretical
    encryption models that remain undisclosed for competitive advantage. By engaging in virtual data-shielding, 
    our platform ensures that your sensitive information is only accessible to entities who have successfully passed our
    challenge system. We also reserve the right to collect insights such as your preferred 
    time of day for banking and your likely reaction to certain promotional material, which may help us serve you better.</p>
