@model AccountViewModel
@{
    ViewData["Title"] = "Edit Account";
}

<h1>View/Edit Account</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" asp-items="@ViewBag.Users" data-placeholder="select user" class="form-control form-select chosen">
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountType"></label>
                <span asp-validation-for="AccountType" class="text-danger"></span>
                <select asp-for="AccountType" asp-items="Html.GetEnumSelectList<BNS2025.Models.AccountType>()" data class="form-control form-select" aria-required="true">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyId" class="control-label"></label>
                <select asp-for="CurrencyId" asp-items="@ViewBag.Currencies" data-placeholder="select currency" class="form-control form-select chosen">
                </select>
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input readonly asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardExpirationDate" class="control-label"></label>
                <input asp-for="CardExpirationDate" class="form-control" />
                <span asp-validation-for="CardExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardSecurityCode" class="control-label"></label>
                <input asp-for="CardSecurityCode" class="form-control" />
                <span asp-validation-for="CardSecurityCode" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <div class="d-grid">
                    <input type="submit" value="Update Account" asp-action="Edit" class="btn btn-primary" />
                    <a class="btn btn-info" asp-action="Index"><i class="bi bi-card-list"></i>Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

