
@model UserViewModel
@{
    ViewData["Title"] = "Create User";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div>
        <form id="createUserForm" method="post" enctype="multipart/form-data">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="card-group col-8">
                <div class="card">
                    <img src="~/img/defaultUser.jpg" id="imgImage" alt="User Image" style="width:60%; align-self:center" />
                    <div class="form-group">
                        <div class="custom-file m-3">
                            <input hidden asp-for="Image" type="text" />
                            <input asp-for="ImageFile" type="file" class="form-control custom-file-input" id="fuImage"
                                   onchange="document.getElementById('imgImage').src = window.URL.createObjectURL(this.files[0])" />
                            <label class="custom-file-label" for="Image"></label>
                        </div>
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="card">
                    <div class="form-floating mb-1 mt-1">
                        <input asp-for="Name" class="form-control" aria-required="true" />
                        <label asp-for="Name"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div><div class="form-floating mb-1">
                        <input asp-for="Email" class="form-control" aria-required="true" />
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control form-select" aria-required="true">
                            <option value="-1">
                                Select Gender
                            </option>
                        </select>
                        <label asp-for="Gender"></label>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <input asp-for="Address" class="form-control" aria-required="true" />
                        <label asp-for="Address"></label>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <input asp-for="UserName" class="form-control" aria-required="true" />
                        <label asp-for="UserName"></label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <input asp-for="Password" class="form-control" aria-required="true" />
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <input asp-for="ConfirmPassword" class="form-control" aria-required="true" />
                        <label asp-for="ConfirmPassword"></label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="d-grid gap-1">
                        <button type="submit" asp-action="CreateUser" class="w-100 btn btn-primary">Create User</button>
                        <button asp-controller="Home" asp-action="Index" class="w-100 btn btn-info">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
